//- ROLL TEMPLATE
rolltemplate.sheet-rolltemplate-bitd
	div(class!='holder{{#action}} action{{/action}}{{#resist}} resist{{/resist}}{{#vice}} vice{{/vice}}{{#fortune}} fortune{{/fortune}}{{#short}} short{{/short}}{{#action}}{{^position}} short{{/position}}{{/action}}')
		div(class!='header{{#charimage}} narrow{{/charimage}}') {{charname}} {{subtitle}}
		.title
			span(class='{{#small-title}}small-title{{/small-title}}') {{title}}
		.result
			span.result {{result}}
